{:kotoba.app/id "cloud.itonami.isic-6621", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreig5im7hdglzv5lbtamo7ft7wdfwfbpzdmmxehz4agf7nwunsy6ktm", :kotoba.app/embed-url "ipfs://bafkreig5im7hdglzv5lbtamo7ft7wdfwfbpzdmmxehz4agf7nwunsy6ktm", :published {:archive "https://kotobase.net/ipfs/bafkreig5im7hdglzv5lbtamo7ft7wdfwfbpzdmmxehz4agf7nwunsy6ktm", :size 74173, :put-status 201, :get-status 200, :at "2026-08-15T13:36:31.685Z"}}
